.product {
  margin: 60px auto;
  background-color: $primary-color;
  @include border-radius(5px);

  img {
    height: 350px;
    width: 100%;
    @include border-radius(5px 5px 0 0);
  }

  .product-info {
    padding-left: 15px;
    padding-top: 15px;

    * {
      color: white;
    }

    .product-name {
      font-size: 25px;
    }

    .currency {
      color: adjust-hue($secondary-green, 2);
    }
  }
}

.product-details {
  #product_name {
    display: inline;
  }

  #unit_price {
    display: inline;

    i {
      padding-left: 5px;
    }
  }

  #product-description {
    font-size: 15px;
  }

  .description-wrapper {
    padding-top: 13px;

    p {
      margin: 0;
    }
  }

  .quantity-wrapper {
    margin-top: 15px;

    label {
      padding-right: 15px;
      font-size: 18px;
    }
  }

  .confirmation-total-wrapper {
    height: 70px;

    p {
      display: block;
      margin-bottom: 0;
    }

    #confirmation_total {
      padding-top: 20px;
      width: 100%;

    }
  }
}

.separator {
  display: inline;
}

.currency {
  color: adjust-hue($secondary-green, 2);
}
