@mixin circular-image($size) {
  width: $size;
  height: $size;
  -webkit-border-radius: $size/2;
  -moz-border-radius: $size/2;
  -ms-border-radius: $size/2;
  border-radius: $size/2;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin brightness($percentage) {
  -webkit-filter: contrast($percentage);
  -webkit-filter: brightness($percentage);
  filter:brightness($percentage);
}
